PORT=3000
NODE_ENV=development
JWT_ACCESS_SECRET=your_access_secret_here
AUTH_SERVICE_URL=http://localhost:3001
ACCOUNT_SERVICE_URL=http://localhost:3002
TRANSACTION_SERVICE_URL=http://localhost:3003
AI_SERVICE_URL=http://localhost:3004
ANALYTICS_SERVICE_URL=http://localhost:3005
NOTIFICATION_SERVICE_URL=http://localhost:3006
FRAUD_SERVICE_URL=http://localhost:3007
RETAIL_SERVICE_URL=http://localhost:3008
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
CLIENT_URL=http://localhost:5173
