PORT=3003
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5434
DB_USER=finflow
DB_PASSWORD=finflow_secret
DB_NAME=finflow_db
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=transaction-service
KAFKA_GROUP_ID=transaction-group
JWT_ACCESS_SECRET=your_access_secret_here
